# Core dependencies, when removed may
# break core features
dill
lupa
cffi

# Unecessary dependencies, ehen removed
# will break non-core features (like REPL)
requests
prompt_toolkit

# for debugging purposes
# modulegraph